<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <title>COOK 'OMATIC - Accueil</title>
  </head>

  <body>
    <div class="bodyContainer">
      <%- include('header') %> 
      <%- include('navbar') %>

      <!--ACCROCHE-->
      <h4 class="accroche text-center">
        Bienvenue sur notre site de recettes personnalisées, afin de mieux vous
        connaitre, <br />
        analyser votre IMC et vous proposer des recettes adaptées, <br />merci
        de renseigner les informations dans le formulaire ci-dessous.
      </h4>

      <!--FORMULAIRE IMC-->
      <form
        class="formulaire text-center rounded"
        action="/calcul-imc"
        method="post"
        id="imc-form"
      >
        <div
          class="form-group col-8 col-sm-6 col-md-4 col-lg-2 mx-auto text-start"
        >
          <label
            for="poids"
            class="form-label rounded text-light bg-secondary py-1 px-2"
            >Poids (kg)</label
          >
          <input
            class="form-control"
            id="poids"
            type="number"
            placeholder="Entre ton poids"
            required
          />
        </div>
        <div
          class="form-group col-8 col-sm-6 col-md-4 col-lg-2 mx-auto text-start"
        >
          <label
            for="taille"
            class="form-label rounded text-light bg-secondary py-1 px-2"
            >Taille (cm)</label
          >
          <input
            class="form-control"
            id="taille"
            type="number"
            placeholder="Entre ta taille"
            required
          />
        </div>
        <button class="btn btn-dark" type="submit" name="btn">Envoyer</button>
      </form>

      <!--RESULTAT IMC-->
      <p class="" id="resultat-imc" style="display: none"></p>
    </div>

    <!--SCRIPT JS IMC-->
    <script>
      // Fonction pour envoyer les données du formulaire au serveur
      document
        .getElementById("imc-form")
        .addEventListener("submit", function (e) {
          e.preventDefault(); // Empêcher le formulaire de se soumettre normalement

          // Récupérer les valeurs du formulaire
          const poids = parseFloat(document.getElementById("poids").value); //parseFloat pour être sur que la donnée traitée est un nombre.
          const taille = parseFloat(document.getElementById("taille").value);

          // Envoyer les données au serveur via Fetch API
          fetch("/calcul-imc", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ poids: poids, taille: taille }),
          })
            .then((response) => response.json())
            .then((data) => {
              // Afficher l'IMC sur la page
              const imc = data.imc;
              const imcInfo = data.imcInfo;
              const resultatImc = document.getElementById("resultat-imc");
              resultatImc.textContent =
                "Ton IMC est de : " + imc + ", " + imcInfo;
              resultatImc.style.display = "block";
              resultatImc.className = data.imcCategory; // Appliquer la classe CSS
            })
            .catch((error) => console.error("Erreur:", error));
        });
    </script>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
