<!--HEADER-->
<header class="header">
  <div class="bg-dark text-light d-flex justify-content-between">
    <div class="p-2">
      <i class="bi bi-geo-alt-fill"></i>
      &nbsp4 Rue Leclerc Germain - Compiègne
    </div>
    <div class="p-2">
      <i class="bi bi-telephone-fill"></i>
      +33 0623687456
    </div>
  </div>
  <div class="subContainer d-flex align-items-center">
    <div class="logoContainer">
      <img
        src="/assets/img/logo-site.png"
        alt="logo_site"
        class="imgLogo bg-secondary"
      />
    </div>
    <div class="flex-grow-1"></div>
    <div class="titreContainer h1 text-light bg-secondary text-center w-100">
      <div class="titre py-2 pt-4">Cook 'Omatic</div>
    </div>
  </div>
</header>
